.webix_el_box .transparent-btn .webix_el_box .webix_button{
    background-color: transparent;
  }

.sidebar {
  background-color: #f1f1f1;
}

.connected {
  border-color: #dadee0;
  border-width: 0px 0px 1px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
